@page "/"

<PageTitle>Blazor Lottie Player Documentation</PageTitle>

<h1>Blazor Lottie Player</h1>

<h3>Welcome to the Blazor Lottie Player Documentation.</h3>

<p>This is a simple Blazor WebAssembly application that demonstrates how to use the
   Blazor Lottie Player component. The Lottie Player component allows you to easily
   integrate Lottie animations into your Blazor applications without regard to what
   UI components you might be using.</p>

<p>To get started, you can check out</p>

<a href="https://github.com/MudXtra">Copyright @@ 2025 MudXtra</a>.
